@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 30px 24px 31px;
    background: #3A4663;
    gap: 32px;
}


.header{
    width: 320px;
    height: auto;
    display: flex;
    align-items: center;
}


.calc{
    color: white;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.533px;
    margin-right: 110px;
}

.themes{
    display: flex;
    justify-content: space-between;
}

.theme{
    color: white;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 26px 26px 5px 1px;
}

.options{
    display: flex;
    flex-direction: column;
    width: 71px;
    height: 42px;
}

.nums{
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
    gap: 11px;
}

.nums span{
    color: white;
    text-align: center;
    font-size: 12px;
    width: 12px;
}


.range {
    -webkit-appearance: none;
    width: 71px;
    height: 26px;
    background: #242D44;
    outline: none;
    border-radius: 13px;
    margin-top: 5px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #D03F2F;
    cursor: pointer;
}

.main-container{
    max-width: min-content;
}


.dial {
    display: flex;
    height: 88px;
    border-radius: 10px;
    background: #1E0936;
    color: white;
    align-items: center;
    justify-content: end;
    padding-right: 24px;
    font-size: 40px;
    letter-spacing: -0.667px;
}


.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 13px;
    border-radius: 10px;
    background: #242D44;;
    margin-top: 24px;
    padding: 24px;
    height: 420px;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.calculator-grid button {
    width: 60px;
    height: 64px;
    border-radius: 5px;
    background: #EAE3DC;
    border: none;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
    cursor: pointer;
    color: #434A59;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.533px;
}

.calculator-grid .del {
    background: #647198;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
    color: #FFF;
    font-size: 20px;
    letter-spacing: -0.333px;
}

.calculator-grid button:hover {
    cursor: pointer;
}

.calculator-grid button:active {
    background: #FFFFFE;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
}

.lastTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-column: span 2;
}

.reset,
.equalSign {
    width: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: -0.333px;
}

.reset {
    background: #647198;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
    color: #FFF;
}

.equalSign {
    background: #D03F2F;
    box-shadow: 0px -4px 0px 0px #93261A inset;
    color: white;
}
.reset,
.equalSign:hover{
    cursor: pointer;
}

.reset:active{
    background: #A2B2E1;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
    cursor: pointer;
}

.equalSign:active{
    cursor: pointer;
    background: #F96B5B;
    box-shadow: 0px -4px 0px 0px #93261A inset;
}


@media (min-width:1440px) {
    body{
        padding: 96px 450px 96px 450px;
    }

    .calc{
        margin-right: 312px;
        margin-left: -100px;
    }
    
    
    .dial {
        height: 128px;
        padding-right: 32px;
        font-size: 56px;
        letter-spacing: -0.933px;
    }
    
    
    .calculator-grid {
        gap: 25px;
        padding: 32px;
        height: 480px;
    }
    
    .row1,
    .row2,
    .row3,
    .row4 {
        gap: 25px;
    }
    
    .calculator-grid button {
        width: 101px;
        height: 64px;
        border-radius: 10px;
        font-size: 40px;
        letter-spacing: -0.667px;;
    }
    
    .calculator-grid .del {
        font-size: 28px;
        letter-spacing: -0.467px;
    }

    
    .lastTwo {
        gap: 24px;
    }
    
    .reset,
    .equalSign {
        width: 227px;
        height: 64px;
        border-radius: 10px;
        font-size: 28px;
        letter-spacing: -0.467px;
    }
    
}


body.style2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 30px 24px 31px;
    background: #E6E6E6;
    gap: 32px;
}

.calc.style2{
    color: #36362C;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.533px;
    margin-right: 110px;
}


.theme.style2{
    color: #36362C;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 26px 26px 5px 1px;
}


.nums.style2 span{
    color: #36362C;
    text-align: center;
    font-size: 12px;
    width: 12px;
}


.range.style2 {
    -webkit-appearance: none;
    width: 71px;
    height: 26px;
    background: #D2CDCD;
    outline: none;
    border-radius: 13px;
    margin-top: 5px;
}

.range.style2::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #C85402;
    cursor: pointer;
}



.dial.style2 {
    display: flex;
    height: 88px;
    border-radius: 10px;
    background: #EEE;
    color: #36362C;
    align-items: center;
    justify-content: end;
    padding-right: 24px;
    font-size: 40px;
    letter-spacing: -0.667px;
}


.calculator-grid.style2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 13px;
    border-radius: 10px;
    background: #D2CDCD;
    margin-top: 24px;
    padding: 24px;
    height: 420px;
}

.calculator-grid.style2 button {
    width: 60px;
    height: 64px;
    border-radius: 5px;
    background: #E5E4E1;
    border: none;;
    box-shadow: 0px -4px 0px 0px #A79E91 inset;
    cursor: pointer;
    color: #36362C;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.533px;
}

.del.style2 {
    background: #378187;
    box-shadow: 0px -4px 0px 0px #1B6066 inset;
    color: #FFF;
    font-size: 20px;
    letter-spacing: -0.333px;
}


.calculator-grid.style2 button:active {
    background: #FFF;
    box-shadow: 0px -4px 0px 0px #A79E91 inset;
}



.reset.style2 {
    background: #378187;
    box-shadow: 0px -4px 0px 0px #1B6066 inset;
    color: #FFF;
}

.equalSign.style2 {
    background: #C85402;
    box-shadow: 0px -4px 0px 0px #873901 inset;
    color: white;
}


.reset.style2:active {
    background: #62B5BC;
    box-shadow: 0px -4px 0px 0px #1B6066 inset;
    cursor: pointer;
}

.equalSign.style2:active {
    cursor: pointer;
    background: #FF8A38;
    box-shadow: 0px -4px 0px 0px #873901 inset;
}



body.style3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 30px 24px 31px;
    background: #17062A;
    gap: 32px;
}



.calcs.tyle3{
    color: #FFE53D;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.533px;
    margin-right: 110px;
}


.theme.style3{
    color: #FFE53D;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 26px 26px 5px 1px;
}


.nums.style3 span{
    color: #FFE53D;
    text-align: center;
    font-size: 12px;
    width: 12px;
}


.range.style3  {
    -webkit-appearance: none;
    width: 71px;
    height: 26px;
    background: #1E0936;
    outline: none;
    border-radius: 13px;
    margin-top: 5px;
}

.range.style3 ::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00DED0;
    cursor: pointer;
}



.dial.style3  {
    display: flex;
    height: 88px;
    border-radius: 10px;
    background: #1E0936;
    color: #FFE53D;
    align-items: center;
    justify-content: end;
    padding-right: 24px;
    font-size: 40px;
    letter-spacing: -0.667px;
}


.calculator-grid.style3  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 13px;
    border-radius: 10px;
    background: #1E0936;
    margin-top: 24px;
    padding: 24px;
    height: 420px;
}


.calculator-grid.style3  button {
    width: 60px;
    height: 64px;
    border-radius: 5px;
    background: #331C4D;
    border: none;
    box-shadow: 0px -4px 0px 0px #881C9E inset;
    cursor: pointer;
    color: #FFE53D;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.533px;
}

.del.style3  {
    background: #56077C;
    box-shadow: 0px -4px 0px 0px #BE15F4 inset;
    color: #FFF;
    font-size: 20px;
    letter-spacing: -0.333px;
}


.calculator-grid.style3  button:active {
    background: #6C34AC;
    box-shadow: 0px -4px 0px 0px #881C9E inset;
}


.reset.style3  {
    background: #56077C;
    box-shadow: 0px -4px 0px 0px #BE15F4 inset;
    color: #FFF;
}

.equalSign.style3  {
    background: #00DED0;
    box-shadow: 0px -4px 0px 0px #6CF9F1 inset;
    color: #1A2327;
}


.reset.style3 :active{
    background: #8631AF;
    box-shadow: 0px -4px 0px 0px #BE15F4 inset;
    cursor: pointer;
}

.equalSign.style3 :active{
    cursor: pointer;
    background: #93FFF8;
    box-shadow: 0px -4px 0px 0px #6CF9F1 inset;
}
